body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#myH1{
    background-color: greenyellow;
    color: black;
    padding-inline: 5px 25px;
    text-align: center;
}
#roll{
    font-size: 3em;
    border-radius: 10px;
    background-color: black;
    color: greenyellow;
    padding: 5px 25px;
}
#mylabel{
    font-size: 3em;
}