#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
}
#BtnContainer{
    
    text-align: center;
    
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: hsl(84, 100%, 59%);
    background-color: hsl(0, 0%, 0%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: hsl(0, 2%, 63%);
}